@import "bourbon/bourbon";

h1, h2, h3, p { font-family: 'Helvetica Neue', Arial, sans-serif; }
h2 { font-size: 21px; }
h3 { font-size: 16px; }
body { background-color: #F2F2F2; }
body,html{
  height:100%;
}
th {
  color: white;
  text-align: -webkit-left;
  background-color: #3CB4E2;
  &:last-child { text-align: right; }
}
td { &:last-child { text-align: right; } background-color: #F4F4F4; width: auto; }
tr:nth-child(even) {  td { background-color: #EBEBEB; } }

.header {
  height: 6em;
  max-height: 6em;
  border-top: 5px #3CB4E2 solid;
  margin-bottom: 2em;
  background-color: #1891BF;
}

.logo {
  content: url("images/statter.png");
  background-size: 100%;
  display: inline-block;
  position: relative;
  left: 84px;
  top: 23px;
}

.header-info { float: right; }
.info {
  background-color: #FAFAFA;
  border-right: 1px solid #DDD;
  border-bottom-left-radius: 9px;
  display: table-cell;
  float: none;
  button { margin: 3em 0 0 7.2em; }
}
.stats {
  margin: 0;
  float: none;
  padding: 3%;
  bottom: 90px;
  display: table-cell;
}
.yahoo {
  margin: 33px;
  img { content: url("images/yahoo.png"); }
}
.logged-in {
  top: 9px;
  right: 100px;
  color: white;
  float: right;
  font-weight: 200;
  position:relative;
  a { color: #3CB4ED; font-weight: 500; margin-left: 6px; font-size: 14px; }
}
.dash-title {
  top: 12px;
  right: 100px;
  color: white;
  float: right;
  clear: right;
  position: relative;
  h2 {
    padding: 0;
    font-size: 20px;
    margin: 2% 0 0 0;
    font-weight: 300;
  }
}
.stat-title { display: inline-block; }
.track-link { position: relative; float: right; top: 20px; }
.no-margin { margin-top: 0; }
.no-top { top: 0; }
.tracking-body {
  width: 100%;
  bottom: 15px;
  display: table;
  position: relative;
  padding: 0 !important;
}
.heatmap { content: url("images/click-activity.png"); margin-top: 2em; }

.footer {
  color: darkgray;
  margin-top: 1em;
  margin-bottom: 2em;
  a { font-weight: 700; color: darkgray; }
}
.copyright {float: left}
.about {float: right}

#track-btn {
  bottom: 15px;
  left: 900px;
  z-index: 999;
  position: relative;
}

#site-title {
  color: #337ab7;
  font-size: x-large;
  font-weight: 700;
  margin: 0 0.8em 0 0.8em;
}

#site-details { display: inline-block; }
#yh-info { font-weight: 500; }
#list { padding: 0; border-right: 0; }
#fix-pos {position: initial;}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
  .logo {
    content: url("images/statter@2x.png");
    width: 145px;
    height: 40px;
  }
}

// Bootstrap overrides
.panel { border: 0 !important; border-radius: 9px; }
.panel-wrap { padding: 0; }
.panel-heading {
  padding: 1.3em;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white !important;
}
.site-info { font-weight: 400 !important; top: 12px; position: relative; }
#p-title { font-size: 28px; padding: 0.5em; }
.panel-body {
  width: 100%;
  bottom: 15px;
  display: table;
  position: relative;
  padding: 0 !important;
  top: 0;
}
.list-group { margin: 0; }
.category {
  width: 100%;
  color: #349DC6 !important;
  border-left: 0;
  border-right: 0;
  padding: 2em 27px;
  position: relative;
  margin-bottom: -1px;
  display: inline-block;
  background-color: #FAFAFA;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #DDD;
}
.category:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}
.category:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    padding-left: 6em;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: #337ab7;
    background-color: white;
    border-color: #DDD;
    border-right: 0;
}
