@import "bourbon/bourbon";

h1, h2, h3, p { font-family: 'Helvetica Neue', Arial, sans-serif; }

body { background-color: #F2F2F2; }

.header {
  height: 6em;
  max-height: 6em;
  border-top: 5px #3CB4E2 solid;
  margin-bottom: 2em;
  background-color: #1891BF;
}

.logo {
  content: url("images/statter.png");
  background-size: 100%;
  display: inline-block;
  position: relative;
  left: 84px;
  top: 23px;
}

.header-info { float: right; }
.tracking-info {
  background-color: #FAFAFA;
  border-right: 1px solid #DDD;
  border-bottom-left-radius: 9px;
}
.yahoo {
  margin: 10%;
  img { content: url("images/yahoo.png"); }
}
.logged-in {
  top: 9px;
  right: 100px;
  color: white;
  float: right;
  font-weight: 200;
  position:relative;
  a { color: #3CB4ED; font-weight: 700; margin-left: 2px; }
}
.dash-title {
  top: 10px;
  right: 100px;
  color: white;
  float: right;
  clear: right;
  position: relative;
  h2 {
    padding: 0;
    font-size: 20px;
    margin: 2% 0 0 0;
    font-weight: 300;
  }
}

#site-title {
  color: #337ab7;
  font-size: x-large;
  font-weight: 700;
  margin: 0 0.8em 0 0.8em;
}

#site-details {
  display: inline-block;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and ( min--moz-device-pixel-ratio: 2),
only screen and ( -o-min-device-pixel-ratio: 2/1),
only screen and ( min-device-pixel-ratio: 2),
only screen and ( min-resolution: 192dpi),
only screen and ( min-resolution: 2dppx) {
  .logo {
    content: url("images/statter@2x.png");
    width: 145px;
    height: 40px;
  }
}

// Bootstrap overrides
.panel { border: 0 !important; border-radius: 9px; }
.panel-wrap { padding: 0; }
.panel-heading {
  padding: 1.3em;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  background-color: white !important;
}
.panel-title { font-weight: 400 !important; }
.panel-body { padding: 0 !important; }
